<html>
    <title>Pedir preguntas cuestionario</title>
    <header>Pedir preguntas</header>
    <form action="/pedir_preguntas/" method="GET">
    Topic: <input type="text" name="topic">
    <section class="dificultad">
        <select name="dificultad">
            <option value="Facil">Facil</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Dificil">Dificil</option>
        </select>
    </section>
    <button type="submit">Enviar</button>
    </form>
</html>