{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'css/seleccionar_app.css' %}">
    <title>Bienvenido</title>
    <body>
        <div class="container">
            <div class="section left-section">
                <div class="flex-container">
                    <div class="titulo1">
                        <form action="/home/">
                            <button type="submit" class="hidden-button">Tienda de plantas</button>
                        </form>
                    </div>
                    <div class="caja1">
                        Aquí podras encontrar una tienda online de tus plantas favoritas,
                        como usuario podrás comprar la planta que desees,
                        como administrador podrás ingresar nuevas plantas, gracias a IA
                        se guardará su imagen y descripción correspondiente.
                    </div>
                </div>
            </div>
            <div class="section right-section">
               <div class="flex-container">
                <div class="titulo1">
                    <form action="/cuestiones/">
                        <button type="submit" class="hidden-button2">Cuestionario</button>
                    </form>
                </div>
                <div class="caja1">
                    Aquí podras responder a cuestionarios sobre filosofía, psicología,
                    astrología y más topics.
                    Podrás añadir un nuevo topic en cada cuestionario.
                    Suma puntos por acertar preguntas y posicionate en lo alto del ranking.
                </div>
              </div>
            </div>
        </div>
    </body>
</html>