{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'css/seleccionar_app.css' %}">
    <title>Bienvenido</title>
    <body>
        <div class="container">
            <div class="section left-section">
                <div class="flex-container">
                    <div class="titulo1">
                       Plantas
                    </div>
                </div>
            </div>
            <div class="section right-section">
                <div class="titulo1">
                    Cuestionario
                </div>
            </div>
        </div>
    </body>
</html>